<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.example.prototype3">

    <dist:module dist:instant="true"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".NotificateActivity">
        </activity>
        <activity android:name=".Detail_Show">
        </activity>
        <activity android:name=".Detail_input_Activity">
        </activity>
        <activity android:name=".Status_Activity">
        </activity>
        <activity android:name=".SymptommActivity">
        </activity>

        <activity android:name=".List_patient">
        </activity>






        <activity android:name=".Detail_input">
        </activity>



        <activity android:name=".Main_menu">
        </activity>


        <activity android:name=".Register_acc">
        </activity>

        <activity
                android:name=".Splash_screen"
                android:noHistory="true"
                android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>


        <receiver
                android:name=".Noti.AlarmReceiver"
                android:enabled="true" />

        <service
                android:name=".Noti.NotificationService"
                android:enabled="true" />

        <activity
                android:name=".Noti.ResultActivity"
                android:excludeFromRecents="true"
                android:label=".Noti@string/notification"
                android:launchMode="singleTask"
                android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss.ParalysisS3AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss.ParalysisS1NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss.ParalysisS1RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
            android:name="com.example.prototype3.PL.Paralysiss2.ParalysisS2AR"
            android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss2.ParalysisS2NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss2.ParalysisS2RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss3.ParalysisS3AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss3.ParalysisS3NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss3.ParalysisS3RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss4.ParalysisS4AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss4.ParalysisS4NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss4.ParalysisS4RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss5.ParalysisS5AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss5.ParalysisS5NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss5.ParalysisS5RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss6.ParalysisS6AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss6.ParalysisS6NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss6.ParalysisS6RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss7.ParalysisS7AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss7.ParalysisS7NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss7.ParalysisS7RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss8.ParalysisS8AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss8.ParalysisS8NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss8.ParalysisS8RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name="com.example.prototype3.PL.Paralysiss9.ParalysisS9AR"
                android:enabled="true" />

        <service
                android:name="com.example.prototype3.PL.Paralysiss9.ParalysisS9NS"
                android:enabled="true" />

        <activity android:name="com.example.prototype3.PL.Paralysiss9.ParalysisS9RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name=".Parkinson.ParkinsonS1AR"
                android:enabled="true" />

        <service
                android:name=".Parkinson.ParkinsonS1NS"
                android:enabled="true" />

        <activity android:name=".Parkinson.ParkinsonS1RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />
        ////////////////////////////////////////////////////////////////////
        <receiver
                android:name=".Vascular.VascularS1AR"
                android:enabled="true" />

        <service
                android:name=".Vascular.VascularS1NS"
                android:enabled="true" />

        <activity android:name=".Vascular.VascularS1RA"
                  android:excludeFromRecents="true"
                  android:label=".Noti@string/notification"
                  android:launchMode="singleTask"
                  android:taskAffinity="" />

    </application>

</manifest>